#Prevenire listare directorii, vizualizare imagini, arhive etc.
Options -Indexes
IndexIgnore *
IndexIgnore *.zip
IndexIgnore *.zip *.jpg *.gif
#==============================================================

